body{
    margin: 0;
    background: #fec5c5;
}

nav{
    background: #06232c;
    display: flex;
    flex-direction: row;
    height: 2.7em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.705);
    margin-bottom:0;
}

.banner{
    display: flex;
}

.banner img{
    width: 100%;
}

.logo-and-city{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.logo img{
    height: 2.5em;
    padding-right: .5%em;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
    padding-bottom: 5%;
    
}

.icons a img{
    height: 2em;
    margin-top: 18%;
    padding-right: .01em;
}

main{
    background: #fec5c5;
    margin-top: 0;
    z-index: -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

.top-cities{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 10%;

}

.intro-text{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
}


.intro-text h1{
    width:100%;
    padding-left: 0;
}

.top{
    width: 100%;
    padding-left: 0;
}
.cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 2em;
    margin-left: 0;
    align-content: flex-start;
}

.location{
    width:25%;
    padding-left: 0;
    padding-right: 4em;
    padding-bottom: 2em;
    margin-left: 0;
}
.location a img{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    
}

